<div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Get your idea machine going.</h1>
        <p class="lead">Make a list with 10 ideas about any topic every day.</p>
        <a class="btn btn-large btn-success" href="users/sign_up">Get started today</a>
      </div>